.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.gallery .book-cover {
  max-width: 200px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.gallery h3 {
  font-size: 1.2rem;
}

a.card {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

a.card:hover {
  background-color: rgba(100, 100, 185, 0.3);
  text-decoration: underline;
}

a.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure figcaption {
  opacity: 0.6;
}

ul,
ol {
  /* set spacing */
  /* gap: 0.1rem; */
}
